{% extends 'home.html' %}
{% load media_tags %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    {% if product.image %}
                        <img src="{{ product.image | media_filter }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'default_image.jpg' %}" class="card-img-top" alt="Stock image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Цена: ${{ product.purchase_price }}</p>
                        <p class="card-text">Категория: {{ product.category }}</p>
                        <p class="card-text">Дата создания: {{ product.manufactured_at }}</p>
                        <a href="{% url 'catalog:product_list' %}" class="btn btn-primary">Назад</a>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}